/* Colors */
$prim-color = deepskyblue
$sec-color = gold

$body-background-color = #fff

$color-1-color = tomato
$color-2-color = gold
$color-3-color = $prim-color
$color-4-color = $grey
$color-5-color = gainsboro
$color-6-color = saddlebrown


/* Colors - Not semantic */
$grey = #444
$dark-grey = #222
$light-grey = #999


/* Global */
$main-font-family = Tahoma, sans-serif
$sec-font-family = Georgia, serif

$main-anchor-color = $prim-color
$main-anchor-color--hover = $sec-color


/* Root */
$root-font-size = 100%
$root-line-height = 1.5
$root-text-color = $grey
$sec-text-color = $dark-grey