

/*** =COLOR ***/

[class^="color"] {
  height: 5em;
}

.color-1 { background: tomato; }
.color-2 { background: gold; }
.color-3 { background: deepskyblue; }
.color-4 { background: darkslategray; }
.color-5 { background: gainsboro; }
.color-6 { background: saddlebrown; }
