

/*** =COLOR ***/

[class^="color"] {
  height: 5em;
}

.color-1 { background: $red; }
.color-2 { background: $yellowGold; }
.color-3 { background: $blueSky; }
.color-4 { background: $grayCharcoal; }
.color-5 { background: $graySilver; }
.color-6 { background: $brownChocolate; }
