
/*
=Typography
*/

p { margin: 0; }
p + p { margin-top: 1.5em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    /* Set defaults for all headings here,
    you might want to change fonts or sizes */
    color: $black;
    font-weight: 400;
    font-family: Georgia;
}

h1 {
    font-size: 2em;
    line-height: 1.5;
    margin: .375em 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: .5em 0;
}

h3 {
    font-size: 1.25em;
    line-height: 1.2;
    margin: .6em 0;
}

h4 {
    font-size: 1.125em;
    line-height: 1.333333;
    margin: .666666em 0;
}

h5, h6 {
    font-size: 1em;
    line-height: 1.5;
    margin: .75em 0;
    text-transform: uppercase;
}
// Overrides normalize with mono from font-stack
code,
kbd,
pre,
samp {
    font-family: $monospace-font-stack;
    @if $legacy-support-for-ie6 {
        _font-family: $monospace-font-stack;
    }
    @include adjust-font-size-to( 1 * $base-font-size );
}
